.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  position: relative;
  background: linear-gradient(to bottom,
      #000 0%,
      #ffd50082 50%,
      #000 100%);
}