.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
  border: none;
  background: linear-gradient(to bottom, #74630c, #766604);
  transition: all 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}

.stripesOverlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: 0.2;
}

.stripes {
  position: absolute;
  inset: 0;
  transform: scale(2);
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.2) 10px,
      rgba(255, 255, 255, 0.2) 20px);
}

.leftLine {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 2px;
  background-color: white;
  opacity: 0.7;

  &::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 5px;
    bottom: 5px;
    width: 3px;
    background-color: rgb(87, 83, 0);
    opacity: 0.7;
  }
}

.rightLine {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 2px;
  background-color: white;
  opacity: 0.8;

  &::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 5px;
    bottom: 5px;
    width: 3px;
    background-color: rgb(87, 83, 0);
    opacity: 0.7;
  }
}

.text {
  position: relative;
  z-index: 10;
}