.navigation {
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 50;
  width: 100%;

  &.hidden {
    display: none;
  }

  @media (max-width: 500px) {
    top: 0em;
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 60px;
      position: relative;
      backdrop-filter: blur(10px);
      padding: 1rem 0;

      @media (max-width: 500px) {
        width: 100%;
        padding: 0;
      }

      .navItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media (max-width: 500px) {
          flex-direction: row;
        }

        .navItem {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;

          .link {
            transition: color 0.2s ease;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.75rem 1.2rem;
          }

          .button {
            transition: color 0.2s ease;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0 1.2rem;
          }
        }
      }
    }
  }
}



.tooltip {
  background: #F6BA00;
  color: black;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: absolute;
  z-index: 50;

  @media (max-width: 500px) {
    display: none;
  }
}

.indicator {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #F6BA00;

  @media (max-width: 500px) {
    display: none;
  }
}

.loginContainer {
  padding: 0 1rem;

  @media (max-width: 500px) {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .loginButton {
    text-transform: uppercase;
    backdrop-filter: blur(10px);

    @media (max-width: 500px) {
      padding: 8px;
      display: flex;
      align-items: center;
      width: 100%;
    }

    &.darkNavigation {
      color: #000;
    }
  }
}