.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 1080px;
  max-height: 1080px;
  position: relative;
}

.container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 7px);
  height: 14px;
  pointer-events: none;
  z-index: 1;
}

.gridBackground {
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(to right,
      transparent 0 38px,
      #FFD60022 38px 40px),
    repeating-linear-gradient(to bottom,
      transparent 0 38px,
      #FFD60022 38px 40px);
  z-index: 1;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}