.container {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  max-height: 800px;
  position: relative;
  background: linear-gradient(to bottom,
      #000 0%,
      #ffc30082 50%,
      #000 100%);

  @media (max-width: 500px) {
    max-height: 700px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 7px);
    height: 14px;
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    height: 16px;
    background: radial-gradient(ellipse at center, rgb(255 221 118) 0%, transparent 75%);
    pointer-events: none;
    z-index: 1;

    @media (max-width: 500px) {
      background: radial-gradient(ellipse at center, #fcd046 30%, transparent 80%);
      top: 450px;
    }
  }

  .gridBackground {
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(to right,
        transparent 0 38px,
        #FFD60022 38px 40px),
      repeating-linear-gradient(to bottom,
        transparent 0 38px,
        #FFD60022 38px 40px);
    z-index: 1;
  }

  .sunContainer {
    position: absolute;
    top: 360px;
    right: 50%;
    transform: translateX(50%);

    .sun {
      width: 260px;
      height: 260px;

      @media (max-width: 500px) {
        width: 200px;
        height: 200px;
      }
    }

    @media (max-width: 500px) {
      top: 340px;
    }
  }

  .content {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      @media (max-width: 1000px) {
        width: 500px;
      }

      @media (max-width: 500px) {
        width: 300px;
        margin-top: 4rem;
      }
    }
  }
}