.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  background-color: rgba(227, 227, 227, 0.086);
}

.container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 7px);
  height: 14px;
  background: radial-gradient(ellipse at center, #fce9a985 0%, transparent 75%);
  pointer-events: none;
  z-index: 1;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  color: #4b5563;
}