.shopSection {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  background-color: black;
}

.previewItemsGridBackground {
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(to right,
      transparent 0 38px,
      #FFD60022 38px 40px),
    repeating-linear-gradient(to bottom,
      transparent 0 38px,
      #FFD60022 38px 40px);
  z-index: 1;
}


.title {
  font-size: 2.5rem;
  font-weight: 700;
}