.shopSection {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
}

.shopGridBackground {
  position: absolute;
  z-index: 0;
  top: -265px;
  width: 5000px;
  left: -1460px;
  height: 1400px;
  background: linear-gradient(to top, #ffcc00 3px, transparent 3px),
    linear-gradient(to right, #ffcc00 3px, transparent 3px);
  background-size: 268px 268px;
  pointer-events: none;
  opacity: 0.7;
  transform: translateY();
}

.title {
  font-size: 2rem;
  color: #FFD600;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  color: #fff;
}