.shopSection {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  background-color: rgba(227, 227, 227, 0.26);
}


.title {
  font-size: 2rem;
  color: #FFD600;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  color: #fff;
}