.socialMediaSection {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  padding: 10rem 0 0;

  .socialMediaGridBackground {
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(to right,
        transparent 0 38px,
        #FFD60022 38px 40px),
      repeating-linear-gradient(to bottom,
        transparent 0 38px,
        #FFD60022 38px 40px);
    z-index: 1;
    pointer-events: none;
  }

  .socialMediaContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;

    .socialMediaContentBackgroundImage {
      position: absolute;
      top: -7rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      opacity: 0.7;
      pointer-events: none;
    }

    .socialMediaTitle {
      .titleImage {
        width: 100%;
        height: auto;
        max-width: 562px;

        @media (max-width: 500px) {
          height: auto;
        }
      }
    }

    .description {
      font-size: 1rem;
      line-height: 1.4;
      margin: 1rem auto;
      max-width: 400px;
      text-align: center;
      color: #fff;
    }

    .socialMediaIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 2rem 1rem;
      margin-bottom: 2rem;

      .socialMediaIcon {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        @media (pointer: fine) {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .socialMediaSocials {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1920px;
      gap: 2rem;

      .socialMediaIconsRow {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;


        &>div {
          background-color: #ffffff;
        }
      }
    }

    .footerImages {
      background-color: transparent;
      height: 430px;
      width: 100%;
      position: relative;

      @media (max-width: 1000px) {
        height: 270px;
      }

      @media (max-width: 620px) {
        height: 210px;
      }

      .makeYourMoveImage {
        object-fit: contain;
        position: absolute;
        left: calc(50% - 460px);
        transform: translateX(-50%);
        top: 0rem;

        @media (max-width: 1000px) {
          left: calc(50% - 260px);
          width: 160px;
          height: auto;
        }

        @media (max-width: 620px) {
          top: 1rem;
          left: calc(50% - 160px);
          width: 80px;
        }
      }

      .bigCatImage {
        object-fit: contain;
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        @media (max-width: 1000px) {
          width: 360px;
          height: auto;
        }

        @media (max-width: 620px) {
          top: 1rem;
          width: 300px;
        }
      }

      .noRulesImage {
        object-fit: contain;
        position: absolute;
        left: calc(50% + 460px);
        transform: translateX(-50%);
        top: 2rem;

        @media (max-width: 1000px) {
          left: calc(50% + 300px);
          width: 160px;
          height: auto;
        }

        @media (max-width: 620px) {
          top: 1rem;
          left: calc(50% + 160px);
          width: 80px;
        }
      }
    }
  }
}