.socialMediaSection {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  padding: 4rem 0;

  .socialMediaGridBackground {
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(to right,
        transparent 0 38px,
        #FFD60022 38px 40px),
      repeating-linear-gradient(to bottom,
        transparent 0 38px,
        #FFD60022 38px 40px);
    z-index: 1;
    pointer-events: none;
  }

  .socialMediaContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;

    .socialMediaTitle {
      .titleImage {
        width: 100%;
        height: auto;
        max-width: 562px;

        @media (max-width: 500px) {
          height: auto;
        }
      }
    }

    .description {
      font-size: 1rem;
      line-height: 1.4;
      margin: 1rem auto;
      max-width: 400px;
      text-align: center;
      color: #fff;
    }

    .socialMediaIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 2rem 1rem;
      margin-bottom: 2rem;

      .socialMediaIcon {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        @media (pointer: fine) {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .socialMediaSocials {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1920px;
      gap: 2rem;

      .socialMediaIconsRow {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;


        &>div {
          background-color: #ffffff;
        }
      }
    }
  }
}